{% if table.options.title or table.options.description %}
<div class="o-section">

    {% if table.options.title %}

    <h2>
        {{ trans(table.options.title)|raw }}

        {% if table.options.description %}
        <small>
            {{ trans(table.options.description)|raw }}
        </small>
        {% endif %}
    </h2>

    {% endif %}

</div>
{% endif %}
