<h1 class='padding:1rem;background:red;color:#fff'>/Users/pixney/Development/Web/Ryan/vendor/anomaly/streams-platform/resources/views/form/partials/default.twig</h1>
<div class="card">

    {% include "streams::form/partials/header" with {"section": section} %}

    <div class="card-block card-body">

        {% include "streams::form/partials/fields" with {"fields": form.fields.base().pluck('field_name').all()} %}

    </div>
</div>
