<h1 class='padding:1rem;background:red;color:#fff'>/Users/pixney/Development/Web/Ryan/vendor/anomaly/streams-platform/resources/views/form/partials/fields.twig</h1>
{% for field in fields %}
    {% if form.fields.translations(field).enabled().isNotEmpty() %}
        <div class="field-group {{ field }}">
            {% for field in form.fields.translations(field) %}
                {{ field.render({'form': form})|raw }}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
