{% if form.options.title or form.options.description %}
    <div class="card">
<h1 class='errorchecker'>/Users/pixney/Development/Web/Ryan/vendor/anomaly/streams-platform/resources/views/form/partials/heading.twig</h1>
        {% if form.options.title %}
            <div class="card-block card-body">
                <h4 class="card-title">
                    {{ trans(form.options.title)|raw }}

                    {% if form.options.description %}
                        <small>
                            <br>{{ trans(form.options.description)|raw }}
                        </small>
                    {% endif %}
                </h4>
            </div>
        {% endif %}

    </div>
{% endif %}
