{% if form.fields.empty %}
<h1 class='errorchecker'>/Users/pixney/Development/Web/Ryan/vendor/anomaly/streams-platform/resources/views/form/partials/layout.twig</h1>
{{ trans("streams::message.no_fields_available") }}

{% else %}

    {% if not form.sections.empty() %}

        {% for section in form.sections %}
            {% if section.view %}
                {% include section.view %}
            {% elseif section.html %}
                {{ section.html|raw }}
            {% else %}
                {% include "streams::form/partials/section" %}
            {% endif %}
        {% endfor %}

    {% else %}
        {% include "streams::form/partials/default" %}
    {% endif %}

{% endif %}
