<div class="o-form__section {{section.title ? '-title'}}{{ section.stacked ? 'd-flex' }} {{section.tabs ? '-tabs'}}" {{ html_attributes(section.attributes) }}>

    {% include "streams::form/partials/header" with {"section": section} %}

    {% if section.fields %} 
            {% include "streams::form/partials/fields" with {"fields": section.fields} %}
      
    {% elseif section.tabs %}
        {% include "streams::form/partials/tabs" with {"tabs": section.tabs, "stacked": section.stacked} %}

    {% elseif section.groups %}
        {% include "streams::form/partials/groups" with {"groups": section.groups} %}

    {% elseif section.rows %}
            {% include "streams::form/partials/rows" with {"rows": section.rows} %}
    {% endif %}

</div>
